# --- Ambientes Virtuais ---
venv/
.anaconda/
__pycache__/
*.py[cod]

# --- Banco de Dados e Infra ---
postgres_data/

# --- Segurança ---
.env

# --- Dados e Arquivos Grandes ---
data/*.csv
data/*.xlsx
*.zip

# --- IDE e Sistema ---
.vscode/
.DS_Store
*.log
.ipynb_checkpoints/

# --- Pasta de Manuais (Privada até a finalização) ---
Documentação-Manual/