# --- Ambientes Virtuais ---
venv/
.anaconda/
__pycache__/
*.py[cod]

# Ignorar backups pesados
Backup-Banco/*.sql

# Ignorar arquivos de configuração sensíveis
.env

# --- Banco de Dados e Infra ---
postgres_data/


# --- Dados e Arquivos Grandes ---
data/*.csv
data/*.xlsx
*.zip

# --- IDE e Sistema ---
.vscode/
.DS_Store
*.log
.ipynb_checkpoints/

# --- Pasta de Manuais (Privada até a finalização) ---
Documentação-Manual/

# --- Pasta dos notebooks
notebooks/